<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.tourguidenagold">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ItemDetails"
            android:label="Details"
            android:parentActivityName=".HotelsList" />
        <activity
            android:name=".HotelsList"
            android:label="Hotels in Nagold"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SightsList"
            android:label="Sights in Nagold"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GroceryList"
            android:label="Groceries Nagold"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RestaurantsList"
            android:label="Restaurants in Nagold"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>